body {
    background: #c4e4e8;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    color: #00474B;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app {
    display: flex;
    flex-direction: row;
    background-color:whitesmoke ;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    justify-content: space-between;
margin-top: 10%;
box-shadow: 15px 17px 44px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 15px 17px 44px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 17px 44px -2px rgba(0,0,0,0.75);
}

.left {
    text-align: center;
}

.right {
    background: #00474B ;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    color: whitesmoke;

}

.selectTip {
    background: #00474B;
    color: whitesmoke;
    border-radius: 6px;
    width: 60px;
    height: 40px;
    padding: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.selectTip:hover {
    background: #9de8DF;
    color: #00474B;
    transition: .4s;
}

#bill {
    background: none;
    border: 3px solid #9de8DF;
    height: 30px;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

#nbrPeople {
        background: none;
        border: 3px solid #9de8DF;
        height: 30px;
        width: 300px;
        text-align: center;
        font-weight: bold;
    }

    ::placeholder {
        text-align: left;

    }

    .right {
        display: flex;
flex-direction: column;
justify-content: center;
    }

.calcTipsAmount {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
align-items: center;
margin-left: 10%;
margin-right: 10%;

    }

    .calcTotal {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
align-items: center;
text-align: left;
margin-left: 10%;
margin-right: 10%;
    }

.btnRight {
    background: #9de8DF;
    border: none;
    height: 40px;
    border-radius: 8px;
    color: #00474B;
width: 75%;
margin-left: auto;
margin-right: auto;
margin-top: 10%;


}

.btnRight:hover {
    background: #e9e9e9;
    transition: .4s;
}


.retourLigne {
   display: flex;
   justify-content: flex-start;
   font-size: 15px;
   color: rgb(165, 164, 164);
}

.price {
    font-size: 25px;
    color: #9de8DF;
    font-weight: bolder;
}